<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/table.css">
</head>
<body>
    <nav>
        <a href="/home">
            <img src="./img/now_logo.png" alt="로고 사진 입니다.">
        </a>
        <div class="menu">
            <p class="nav-intro">
                <a href="/profile"><%=nickname%>님</a> 이곳은 게시판 목록을 볼 수 있는 곳 입니다.
            </p>
            <div class="text_menu">
                <a href="/newboard"><h1>게시판 추가</h1></a>
                <form action="/boardSearch" method="post" class="search">
                    <input type="text" name="board_search" id="board_search" placeholder="게시판 검색">
                </form>
            </div>
        </div>
    </nav>
    <hr>
    <br>
    <table>
        <tr>
            <th class="table-header">게시판 이름</th>
            <th class="table-header">게시판 설명</th>
        </tr>
        <%if(title.length>0) {%>
            <tr>
                <td>
                    <%for(var i = 0; i< title.length; i++) {%>
                        <tr>
                            <td>
                                <form action="/board/<%= title[i].id%>" method="post">
                                    <input type="submit" name="board_title" id="board_title" class="title" value="<%= title[i].title %>">
                                </form>
                            </td>
                            <td><p class="content"><%= title[i].detail %></p></td>
                        </tr>
                    <% }; %> 
                </td>              
            </tr>       
        <%} else {%>
            <td>
                즐겨찾기한 게시판이 없습니다!
            </td>        
        <%}%>  
    </table>
</body>
</html>