<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=nickname%>님 반갑습니다. 이곳은 홈화면입니다.</h1>
    <a href="/home">
        <img src="./img/now_logo.png" alt="로고 사진 입니다.">
    </a>
    <a href="/board">게시판 목록</a>

    <hr>
    찜목록
</body>
</html>