*{
    margin: 0;
}
.join {
    margin-top: 100px;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    position: relative;
    height: auto;
}

.join-input{
    margin-top: 10px;
    width:100%;
    margin-bottom: 10px;
    text-align: center;
}

.join-input >input{
    width: calc(70% - 22px);
    height:35px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;   
    margin-bottom: 10px;
}

.join-input input:focus{
    border-color: #358efb;
  }

.join-input > button{
    width:70%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}

.join-top{
    display: flex;
}

.join-top > a  img{
    width: 100px;
    margin-left: 60px;
}

.join-top > p{
    margin-top: 30px;
    margin-left: 78px;
    font-size: 5px;
}