*{
    margin: 0;
}

nav > a > img{
    width: 280px;
}

nav{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.menu{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.text_menu > a{
    text-decoration: none;
    color: #127a33; 
}
.nav-intro{
    font-size: 15px;
    font-weight:bold;
    margin-bottom: 5px;
}
.nav-intro > a{
    text-decoration: none;
    color: #127a33;
    font-weight: bold;
    font-size: 25px;
}

.search >input{
    width: calc(20%);
    height:25px;
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;   
    margin-left: 50px;
}

.search input:focus{
    border-color: #127a33;
}
.text_menu{
    display: flex;
}

.back{
    color: white;
    margin-top: 0px;
    font-size: 12px;
    text-decoration: none;
    background-color: #0275d8;
    padding: 7.5px 15px 6px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
    margin-left: 10px;
}
.back:hover{
    opacity: 0.87;
}

.bookmark > input{
    color: white;
    margin-top: 0px;
    font-size: 12px;
    text-decoration: none;
    background-color: #0275d8;
    padding: 7px 15px 6px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
    border: none;
}

.bookmark > input:hover{
    opacity: 0.87;
}
